*.pyc
*.log
node_modules
coverage/
amethyst/logs
amethyst/export_deliverables
amethyst/cantaloupe/*
amethyst/staticfiles
amethyst/media/packages
amethyst/media/build/
amethyst/uploadedfiles/*
amethyst/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
*~
